<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ totalCount }}</title>
    <link rel="stylesheet" href="../css/main.css">

    {{> style }}
</head>

<body>
    <div class="container">
        <table width="600" align="center">
            <tr>
                <td>
                    <table class="header" width="600">
                        <tr>
                            <td><a href="https://www.{{ site.domain }}/?code={{ form.sourceCode }}"><img
                                        src="{{ site.logoImage }}" height="90"></a>
                            </td>
                            <td align="right">
                                <div><a href="{{ form.headerUrl }}?code={{ form.sourceCode }}">{{ form.headerText }}</a>
                                </div>
                                <div>{{ site.orderNumber }} U.S.-based</div>
                                <div>24 Hour Call Center</div>
                            </td>
                        </tr>
                    </table>

                    <table width="600" style="font-size: 12px; text-align: center;">
                        <tr>
                            <td><a href="%%!message_url%%" style="color: black; text-decoration: none;">Click here</a>
                                to view in browser</td>
                        </tr>
                    </table>

                    <table class="nav" width="600">
                        <tr style="height: 25px;">
                            {{> (siteId) }}
                        </tr>
                    </table>

                    {{#if form.bannerTextTop }}
                    {{> banner text=form.bannerTextTop background-image="b9d9d2cb-2f30-4ab7-b3e0-98cc0b1d8aba" }}
                    {{/if}}

                    <table class="content" width="600" style="padding: 1rem 0; width: 600px; background-image: url(https://cdn-tp4.mozu.com/25762-m1/cms/files/db46c293-58fa-4244-a658-bbbf7a1bd633);"
                        background="https://cdn-tp4.mozu.com/25762-m1/cms/files/db46c293-58fa-4244-a658-bbbf7a1bd633">
                        <tr>
                            {{#each activeItems}}
                            <td align="center">
                                <div class="item" style="width: 250px;">
                                    <a href="https://www.{{ ../site.domain }}{{ url }}?code={{ ../form.sourceCode }}"><img
                                            src="https://cdn-tp4.mozu.com/25762-m1/cms/files/{{ content.productImages.0.cmsId }}"
                                            alt="{{content.productName}}" width="250"
                                            style="border: 1px solid #eee; width: 250px;"></a>
                                    <h4 style="font-size: 14px; margin: 0;">{{ content.productName }}</h4>
                                    <div class="productCode hidden" style="font-size: 12px;">{{ productCode }}</div>
                                    <div class="price" style="font-size: 12px;">{{{ price.label }}}</div>
                                </div>
                            </td>
                            {{#ifRowEnd @index}}{{/ifRowEnd}}
                            {{/each}}
                    </table>

                    {{#if form.bannerTextBottom }}
                    {{> banner text=form.bannerTextBottom background-image="b9d9d2cb-2f30-4ab7-b3e0-98cc0b1d8aba" }}
                    {{/if}}

                    {{> footer }}

                    {{> CAN-SPAM }}
                </td>
            </tr>
        </table>
    </div>
</body>

</html>